#jalangi files
*_jalangi_.js
*_jalangi_.json

#bkp files 
*-bkp.js

#project specific
tests/output-actual/

#webstorm
# User-specific stuff
#.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# mpeltonen/sbt-idea plugin
.idea_modules/

# File-based project format
*.iws

#ignore the scribble directory
scribble/

#ignore the node_modules
node_modules/

node-projects/

output/
#tests/output-actual/
#test/
#.idea/
garbage/
*.swp
